* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;

    h1 {
        color: white;
    }

    background-color: #262a33;
}

@import "../reusable";

.sidebar {
    @include sidebar;
}

.opened {
    width: 160px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    .table-container {
        overflow-x: auto;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .add {

                background-color: #657ee4;
                margin-top: 10px;
                border-radius: 20px;
                cursor: pointer;
                padding: 10px;

                &:hover {
                    background-color: #4564e2
                }
            }
        }

        .table {
            padding: 10px;
            min-width: fit-content;
            display: flex;
            flex-direction: column;
            width: 900px;
            justify-content: space-between;

            .row {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: white;
                margin-bottom: 10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .cell {
                background-color: white;
                padding: 10px;
                word-wrap: break-word;
                width: 180px;
                font-size: 21px;
                min-width: 100px;
                text-align: center;
            }

            .header {
                // background-color: rgb(236, 209, 86);
                background-color: #657ee4;
                font-weight: bold;
            }

            .action {
                color: black;
                margin: 2px;
                background-color: #657ee4;
                border-radius: 10px;
                padding: 10px;
                font-size: 21px;
                border: none;

                &:hover {
                    background-color: #4564e2
                }
            }

        }
    }
}


// -------------- BUTTON

.mbutton {
    appearance: none;
    border-radius: 0.25em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;

}

// -------------- DETAILS MODAL

.details-modal {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    // height: 700px;s
    max-height: 90vh;
    display: flex;
    flex-direction: column;

    // -------------- CLOSE

    .details-modal-close {
        align-items: center;
        color: #111827;
        display: flex;
        height: 4.5em;
        justify-content: center;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 4.5em;

        svg {
            display: block;
        }
    }

    // -------------- TITLE

    .details-modal-title {
        color: #111827;
        padding: 1.5em 2em;
        pointer-events: all;
        position: relative;
        width: calc(100% - 4.5em);

        h1 {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: normal;
        }
    }

    // -------------- CONTENT

    .details-modal-content {
        border-top: 1px solid #e0e0e0;
        padding: 2em;
        pointer-events: all;
        overflow: auto;
        .content{
            display: flex;
            cursor:auto;
            flex-direction: column;
            input{
                padding:6px 5px;
                border-radius: 10px;
                border:1px solid grey;
                margin: 20px;
                &:focus{
                    outline: none;
                }
            }
            .tekst{
            width: 40px;
            display: flex;
            justify-content: flex-end;
            }
            .ime, .email,.money{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// -------------- OVERLAY

.details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(#0f172a, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    details[open] & {
        pointer-events: all;
        opacity: 0.5;
    }
}

// -------------- DETAILS

code {
    font-family: Monaco, monospace;
    line-height: 100%;
    background-color: #2d2d2c;
    padding: 0.1em 0.4em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 7px;
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    position: relative;
    top: -2px;
}

.container {
    text-align: center;
    max-width: 40em;
    padding: 2em;

    >h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: normal;
        color: #111827;
    }

    >p {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    sup {
        font-size: 1rem;
        margin-left: 0.25em;
        opacity: 0.5;
        position: relative;
    }
}

#add{
    border: none;
    border-radius: 20px;
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: #657ee4;
}