@import "../reusable";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}


.sidebar {
    @include sidebar;
}
.opened {
    width: 160px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;

    h1 {
        color: white;
    }
    background-color: #262a33;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 40vw;
    .euro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
#add{
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 90px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    background-color: #657ee4;
    text-align: center;
}